/* .mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    width:100%;
    height:100vh;
    padding: 80px 40px 40px 40px;
    background-color: var(#FFF);
    opacity: 0;
    visibility: hidden;
    pointer-events: all;
}

.is-open {
    opacity: 1;
    visibility: visible;
}

.modal-close-btn.js-close-menu{
    background-color: transparent;
} */