  .second-section {
   width: 100%;
   padding-top: 96px;
   padding-bottom: 96px;
   padding-left: 16px;
   padding-right: 16px;
  }

  .about-us {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.72px;
    color: #2E2F42;
    margin-bottom: 8px;
  }

  .about-us-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-weight: 500px;
    color: #434455;
  }

  .second-section-icon {
    display: none;
  }

  .second-section-items:not(:last-child) {
    margin-bottom: 72px;
  }



/* ======TABLET======== */

@media screen and (min-width: 768px) {
 
  .goals-container { 
    min-width: 768px;
    padding-left: 16px;
    padding-right: 16px;

  }
  .second-section-icon {
    display: none;
  }

  .second-section {
    width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;

  }

  .second-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 0;
  }

  .second-section-items {
    max-width: calc((100% - 24px) / 2);
  }

  .about-us {
    text-align: start;
    letter-spacing: 0.72px;
  }

  .about-us-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
  }

}


/* ======LAPTOP======== */

@media screen and (min-width: 1200px) {

  .second-section {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .second-section-list {
    margin-bottom: 0;
  }

  .second-section-icon {
    background-color: var(--additional-background-color);
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .second-section-items {
    flex-basis:calc(( 100% - 24px * 3 ) / 4 );
  }

  .about-us {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .about-us-description {
    font-weight: 400;
  }
}